VITE_API_BASE_URL=https://your-api-id.execute-api.ap-south-1.amazonaws.com/prod
VITE_COGNITO_DOMAIN=https://your-domain.auth.ap-south-1.amazoncognito.com
VITE_COGNITO_CLIENT_ID=your_client_id
VITE_COGNITO_REDIRECT_URI=https://alankaar63.github.io/CampusNimbus-AWS-Powered-Student-Portal/#/callback
VITE_AWS_REGION=ap-south-1
VITE_REPORT_BUCKET=your-report-bucket-name
VITE_HERO_VIDEO_URL=https://your-cdn-or-s3-url/hero.mp4
VITE_PORTAL_VIDEO_URL=https://your-cdn-or-s3-url/portal.mp4
VITE_CAMPUS_VIDEO_URL=https://your-cdn-or-s3-url/siucampus.mp4
VITE_THEME_AUDIO_URL=https://your-cdn-or-s3-url/theme.mp3
